.delete-button {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #FF3B30;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-left: 8px;
}

.delete-button:active {
  opacity: 0.8;
}

.summary-section {
  margin-top: 16px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.summary-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text-color);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  
}

.summary-label {
  color: #8E8E93;
  font-size: 16px;
}

.summary-value {
  font-weight: 600;
  color: var(--text-color);
}

.total-row {
  border-top: 1px solid #E5E5EA;
  margin-top: 8px;
  padding-top: 8px;
  font-weight: 600;
}

.charts-container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  margin: 1rem 0;
  padding: 0 1rem 1rem 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.chart-wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .charts-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .chart-wrapper {
    flex: 1;
  }
}

.chart-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.chart-tab {
  padding: 0.5rem 1rem;
  border: 1px solid #E5E5EA;
  border-radius: 8px;
  background-color: white;
  color: #8E8E93;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chart-tab:hover {
  background-color: #F2F2F7;
}

.chart-tab.active {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}
